html, body {
	height: 100%;
}
body {
	margin: 0;
	font: 14px "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
	background-color: #f3f3f3;
}
body.loading > * {
	display: none;
}
a {
	color: #049;
}


.hidden {
	display: none;
}


#header {
	height: 30px;
	background-color: #eee;
	border-bottom: 1px solid #ccc;
	padding: 4px 20px;
	line-height: 30px;
}
#header .logo {
	float: left;
	font-size: 16px;
	font-weight: bold;
}
#header .utility {
	float: right;
	line-height: 30px;
	font-size: 12px;
}
#screens {
}
#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 20px;
	font-size: 11px;
	height: 20px;
	padding: 2px 10px;
	background-color: #eee;
	border-top: 1px solid #ccc;
}
#footer .progress {
	float: left;
}
#footer .poweredby {
	float: right;
}
#footer .poweredby span {
	float: left;
}
#footer .poweredby a {
	float: left;
	margin-left: 6px;
	width: 76px;
	height: 20px;
	background: transparent url(../img/logo.png) no-repeat center center;
}
#footer .poweredby a span {
	display: none;
}
.progress {
	padding-left: 24px;
	background: url(../img/loader.gif) no-repeat left center;
}
body.login #header, body.login #nav {
	display: none;
}
#login {
	padding-top: 100px;
}
#login h1 {
	width: 300px;
	margin: 20px auto;
}
#login form h3 {
	margin: 0 0 10px;
}
#login form p {
	margin: 0 0 10px;
}
#login input.text {
	width: 294px;
	font-size: 18px;
}
#login p {
	clear: right;
}
#login .screens > * {
	width: 300px;
	margin: auto;
	background-color: #fff;
	padding: 20px;
	overflow: hidden;
	
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: 0 0 26px #999;
	-webkit-box-shadow: 0 0 26px #ccc;
	-moz-shadow: 0 0 26px #999;
}
#login p.submit {
	float: right;
}
#login p.nav {
	width: 300px;
	margin: 10px auto;
}

#dashboard {
	padding: 20px;
}