html, body {
	height: 100%;
	background: #6F727A url(../img/linen.png);
}
.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#container {
	position: absolute;
	top: 40px;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 10px;
}
.pod {
	border: none;
	border-radius: 3px;
	background: #fff;
	box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}
#sidebar {
	position: absolute;
	top: 54px;
	bottom: 10px;
	left: 10px;
	width: 260px;
}
#menu {
	position: absolute;
	top: 40px;
	bottom: 0;
	left: 0;
	width: 260px;
	border-radius: 3px;
	border-top: 1px solid #ddd;
}
#sidebar .btn-toolbar {
	margin: 0;
	padding: 6px;
}
#main {
	position: absolute;
	top: 54px;
	bottom: 10px;
	left: 280px;
	right: 10px;
}
#editors {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}
#frame {
	background-color: #fff;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 3px;
}
#code-editor {
	width: 100%;
	height: 100%;
}
#menu {
	overflow-y: scroll;
}
#menu > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu > ul > li {
	cursor: default;
	padding: 6px 10px;
	border: 1px solid transparent;
	border-left: none;
	border-right: none;
}
#menu > ul > li:hover {
	background-color: #f6f6f6;
}
#menu > ul > li.active {
	background-color: #f6f6f6;
	border-color: #ddd;
}
#menu > ul > li:first-child {
	border-top: none;
	border-radius: 3px 3px 0 0;
}
#menu > ul > li:last-child {
	margin-bottom: 100px;
}
#breadcrumbs > ul {
	height: 34px;
	padding: 0 14px;
}
#breadcrumbs > ul > li {
	line-height: 34px;
	float: left;
}
#breadcrumbs > ul > li > a, #breadcrumbs > ul > li > .divider {
	float: left;
}
#breadcrumbs .btn-group {
	float: left;
	margin: 7px 6px 7px 0;
}
#breadcrumbs .dropdown-menu li {
	text-shadow: none;
	display: list-item;
}
#file-drop h1 {
	color: #ccc;
	text-shadow: -1px -1px 1px #999, 1px 1px 1px #fff;
}
#menu .date-modified {
	color: #999;
	font-size: 11px;
}
.menu-item {
	position: relative;
}
.file-name input {
	font: inherit;
	color: inherit;
	position: absolute;
	width: 212px;
	padding: 1px 0;
	top: 4px;
	left: 27px;
}
#menu .actions {
	display: none;
	font-weight: normal;
}
#menu .actions a.dropdown-toggle {
	background: none;
}
#menu > ul > li:hover .actions, #menu > ul > li .actions.open {
	display: inline;
}
#menu .delete a.confirm {
	color: #900;
}
#menu .delete a.cancel {
	color: #08C;
}
#menu .delete .confirmation a {
	display: inline;
	padding: 0;
	text-decoration: underline;
}
#menu .delete .confirmation {
	display: none;
	padding: 3px 15px;
	clear: both;
	line-height: 18px;
	color: #333;
	white-space: nowrap;
	font-weight: normal;
}
#menu .delete.confirm .confirmation {
	display:block;
}
#menu .delete.confirm .action {
	display: none;
}
.actions .dropdown-menu {
	margin-right: -7px;
	margin-top: 6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.actions .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  right: 7px;
}
.actions .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  right: 8px;
}
