.icon { margin-top: -3px; width: 16px; height: 16px; line-height: 16px; vertical-align: top; background: transparent url(../img/silk-sprite.png) no-repeat; text-indent: 99999px; overflow: hidden; *margin-right: .3em; }
.icon:last-child { *margin-left: 0; }
.icon.gray { background-image: url(../img/silk-sprite-gray.png); }
a.icon, input.icon, span.icon{ display: inline-block; vertical-align: middle; border: 0; outline: 0; }
.icon.accept { background-position: -0px -0px }
.icon.add { background-position: -16px -0px }
.icon.anchor { background-position: -32px -0px }
.icon.application { background-position: -48px -0px }
.icon.application-add { background-position: -64px -0px }
.icon.application-cascade { background-position: -80px -0px }
.icon.application-delete { background-position: -96px -0px }
.icon.application-double { background-position: -112px -0px }
.icon.application-edit { background-position: -128px -0px }
.icon.application-error { background-position: -144px -0px }
.icon.application-form { background-position: -160px -0px }
.icon.application-form-add { background-position: -176px -0px }
.icon.application-form-delete { background-position: -192px -0px }
.icon.application-form-edit { background-position: -208px -0px }
.icon.application-form-magnify { background-position: -224px -0px }
.icon.application-get { background-position: -240px -0px }
.icon.application-go { background-position: -256px -0px }
.icon.application-home { background-position: -272px -0px }
.icon.application-key { background-position: -288px -0px }
.icon.application-lightning { background-position: -304px -0px }
.icon.application-link { background-position: -320px -0px }
.icon.application-osx { background-position: -336px -0px }
.icon.application-osx-terminal { background-position: -352px -0px }
.icon.application-put { background-position: -368px -0px }
.icon.application-side-boxes { background-position: -384px -0px }
.icon.application-side-contract { background-position: -400px -0px }
.icon.application-side-expand { background-position: -416px -0px }
.icon.application-side-list { background-position: -432px -0px }
.icon.application-side-tree { background-position: -448px -0px }
.icon.application-split { background-position: -464px -0px }
.icon.application-tile-horizontal { background-position: -480px -0px }
.icon.application-tile-vertical { background-position: -496px -0px }
.icon.application-view-columns { background-position: -0px -16px }
.icon.application-view-detail { background-position: -16px -16px }
.icon.application-view-gallery { background-position: -32px -16px }
.icon.application-view-icons { background-position: -48px -16px }
.icon.application-view-list { background-position: -64px -16px }
.icon.application-view-tile { background-position: -80px -16px }
.icon.application-xp { background-position: -96px -16px }
.icon.application-xp-terminal { background-position: -112px -16px }
.icon.arrow-branch { background-position: -128px -16px }
.icon.arrow-divide { background-position: -144px -16px }
.icon.arrow-down { background-position: -160px -16px }
.icon.arrow-in { background-position: -176px -16px }
.icon.arrow-inout { background-position: -192px -16px }
.icon.arrow-join { background-position: -208px -16px }
.icon.arrow-left { background-position: -224px -16px }
.icon.arrow-merge { background-position: -240px -16px }
.icon.arrow-out { background-position: -256px -16px }
.icon.arrow-redo { background-position: -272px -16px }
.icon.arrow-refresh { background-position: -288px -16px }
.icon.arrow-refresh-small { background-position: -304px -16px }
.icon.arrow-right { background-position: -320px -16px }
.icon.arrow-rotate-anticlockwise { background-position: -336px -16px }
.icon.arrow-rotate-clockwise { background-position: -352px -16px }
.icon.arrow-switch { background-position: -368px -16px }
.icon.arrow-turn-left { background-position: -384px -16px }
.icon.arrow-turn-right { background-position: -400px -16px }
.icon.arrow-undo { background-position: -416px -16px }
.icon.arrow-up { background-position: -432px -16px }
.icon.asterisk-orange { background-position: -448px -16px }
.icon.asterisk-yellow { background-position: -464px -16px }
.icon.attach { background-position: -480px -16px }
.icon.award-star-add { background-position: -496px -16px }
.icon.award-star-bronze-1 { background-position: -0px -32px }
.icon.award-star-bronze-2 { background-position: -16px -32px }
.icon.award-star-bronze-3 { background-position: -32px -32px }
.icon.award-star-delete { background-position: -48px -32px }
.icon.award-star-gold-1 { background-position: -64px -32px }
.icon.award-star-gold-2 { background-position: -80px -32px }
.icon.award-star-gold-3 { background-position: -96px -32px }
.icon.award-star-silver-1 { background-position: -112px -32px }
.icon.award-star-silver-2 { background-position: -128px -32px }
.icon.award-star-silver-3 { background-position: -144px -32px }
.icon.basket { background-position: -160px -32px }
.icon.basket-add { background-position: -176px -32px }
.icon.basket-delete { background-position: -192px -32px }
.icon.basket-edit { background-position: -208px -32px }
.icon.basket-error { background-position: -224px -32px }
.icon.basket-go { background-position: -240px -32px }
.icon.basket-put { background-position: -256px -32px }
.icon.basket-remove { background-position: -272px -32px }
.icon.bell { background-position: -288px -32px }
.icon.bell-add { background-position: -304px -32px }
.icon.bell-delete { background-position: -320px -32px }
.icon.bell-error { background-position: -336px -32px }
.icon.bell-go { background-position: -352px -32px }
.icon.bell-link { background-position: -368px -32px }
.icon.bin { background-position: -384px -32px }
.icon.bin-closed { background-position: -400px -32px }
.icon.bin-empty { background-position: -416px -32px }
.icon.bomb { background-position: -432px -32px }
.icon.book { background-position: -448px -32px }
.icon.book-add { background-position: -464px -32px }
.icon.book-addresses { background-position: -480px -32px }
.icon.book-delete { background-position: -496px -32px }
.icon.book-edit { background-position: -0px -48px }
.icon.book-error { background-position: -16px -48px }
.icon.book-go { background-position: -32px -48px }
.icon.book-key { background-position: -48px -48px }
.icon.book-link { background-position: -64px -48px }
.icon.book-next { background-position: -80px -48px }
.icon.book-open { background-position: -96px -48px }
.icon.book-previous { background-position: -112px -48px }
.icon.box { background-position: -128px -48px }
.icon.brick { background-position: -144px -48px }
.icon.bricks { background-position: -160px -48px }
.icon.brick-add { background-position: -176px -48px }
.icon.brick-delete { background-position: -192px -48px }
.icon.brick-edit { background-position: -208px -48px }
.icon.brick-error { background-position: -224px -48px }
.icon.brick-go { background-position: -240px -48px }
.icon.brick-link { background-position: -256px -48px }
.icon.briefcase { background-position: -272px -48px }
.icon.bug { background-position: -288px -48px }
.icon.bug-add { background-position: -304px -48px }
.icon.bug-delete { background-position: -320px -48px }
.icon.bug-edit { background-position: -336px -48px }
.icon.bug-error { background-position: -352px -48px }
.icon.bug-go { background-position: -368px -48px }
.icon.bug-link { background-position: -384px -48px }
.icon.building { background-position: -400px -48px }
.icon.building-add { background-position: -416px -48px }
.icon.building-delete { background-position: -432px -48px }
.icon.building-edit { background-position: -448px -48px }
.icon.building-error { background-position: -464px -48px }
.icon.building-go { background-position: -480px -48px }
.icon.building-key { background-position: -496px -48px }
.icon.building-link { background-position: -0px -64px }
.icon.bullet-add { background-position: -16px -64px }
.icon.bullet-arrow-bottom { background-position: -32px -64px }
.icon.bullet-arrow-down { background-position: -48px -64px }
.icon.bullet-arrow-top { background-position: -64px -64px }
.icon.bullet-arrow-up { background-position: -80px -64px }
.icon.bullet-black { background-position: -96px -64px }
.icon.bullet-blue { background-position: -112px -64px }
.icon.bullet-delete { background-position: -128px -64px }
.icon.bullet-disk { background-position: -144px -64px }
.icon.bullet-error { background-position: -160px -64px }
.icon.bullet-feed { background-position: -176px -64px }
.icon.bullet-go { background-position: -192px -64px }
.icon.bullet-green { background-position: -208px -64px }
.icon.bullet-key { background-position: -224px -64px }
.icon.bullet-orange { background-position: -240px -64px }
.icon.bullet-picture { background-position: -256px -64px }
.icon.bullet-pink { background-position: -272px -64px }
.icon.bullet-purple { background-position: -288px -64px }
.icon.bullet-red { background-position: -304px -64px }
.icon.bullet-star { background-position: -320px -64px }
.icon.bullet-toggle-minus { background-position: -336px -64px }
.icon.bullet-toggle-plus { background-position: -352px -64px }
.icon.bullet-white { background-position: -368px -64px }
.icon.bullet-wrench { background-position: -384px -64px }
.icon.bullet-yellow { background-position: -400px -64px }
.icon.cake { background-position: -416px -64px }
.icon.calculator { background-position: -432px -64px }
.icon.calculator-add { background-position: -448px -64px }
.icon.calculator-delete { background-position: -464px -64px }
.icon.calculator-edit { background-position: -480px -64px }
.icon.calculator-error { background-position: -496px -64px }
.icon.calculator-link { background-position: -0px -80px }
.icon.calendar { background-position: -16px -80px }
.icon.calendar-add { background-position: -32px -80px }
.icon.calendar-delete { background-position: -48px -80px }
.icon.calendar-edit { background-position: -64px -80px }
.icon.calendar-link { background-position: -80px -80px }
.icon.calendar-view-day { background-position: -96px -80px }
.icon.calendar-view-month { background-position: -112px -80px }
.icon.calendar-view-week { background-position: -128px -80px }
.icon.camera { background-position: -144px -80px }
.icon.camera-add { background-position: -160px -80px }
.icon.camera-delete { background-position: -176px -80px }
.icon.camera-edit { background-position: -192px -80px }
.icon.camera-error { background-position: -208px -80px }
.icon.camera-go { background-position: -224px -80px }
.icon.camera-link { background-position: -240px -80px }
.icon.camera-small { background-position: -256px -80px }
.icon.cancel { background-position: -272px -80px }
.icon.car { background-position: -288px -80px }
.icon.cart { background-position: -304px -80px }
.icon.cart-add { background-position: -320px -80px }
.icon.cart-delete { background-position: -336px -80px }
.icon.cart-edit { background-position: -352px -80px }
.icon.cart-error { background-position: -368px -80px }
.icon.cart-go { background-position: -384px -80px }
.icon.cart-put { background-position: -400px -80px }
.icon.cart-remove { background-position: -416px -80px }
.icon.car-add { background-position: -432px -80px }
.icon.car-delete { background-position: -448px -80px }
.icon.cd { background-position: -464px -80px }
.icon.cd-add { background-position: -480px -80px }
.icon.cd-burn { background-position: -496px -80px }
.icon.cd-delete { background-position: -0px -96px }
.icon.cd-edit { background-position: -16px -96px }
.icon.cd-eject { background-position: -32px -96px }
.icon.cd-go { background-position: -48px -96px }
.icon.chart-bar { background-position: -64px -96px }
.icon.chart-bar-add { background-position: -80px -96px }
.icon.chart-bar-delete { background-position: -96px -96px }
.icon.chart-bar-edit { background-position: -112px -96px }
.icon.chart-bar-error { background-position: -128px -96px }
.icon.chart-bar-link { background-position: -144px -96px }
.icon.chart-curve { background-position: -160px -96px }
.icon.chart-curve-add { background-position: -176px -96px }
.icon.chart-curve-delete { background-position: -192px -96px }
.icon.chart-curve-edit { background-position: -208px -96px }
.icon.chart-curve-error { background-position: -224px -96px }
.icon.chart-curve-go { background-position: -240px -96px }
.icon.chart-curve-link { background-position: -256px -96px }
.icon.chart-line { background-position: -272px -96px }
.icon.chart-line-add { background-position: -288px -96px }
.icon.chart-line-delete { background-position: -304px -96px }
.icon.chart-line-edit { background-position: -320px -96px }
.icon.chart-line-error { background-position: -336px -96px }
.icon.chart-line-link { background-position: -352px -96px }
.icon.chart-organisation { background-position: -368px -96px }
.icon.chart-organisation-add { background-position: -384px -96px }
.icon.chart-organisation-delete { background-position: -400px -96px }
.icon.chart-pie { background-position: -416px -96px }
.icon.chart-pie-add { background-position: -432px -96px }
.icon.chart-pie-delete { background-position: -448px -96px }
.icon.chart-pie-edit { background-position: -464px -96px }
.icon.chart-pie-error { background-position: -480px -96px }
.icon.chart-pie-link { background-position: -496px -96px }
.icon.clock { background-position: -0px -112px }
.icon.clock-add { background-position: -16px -112px }
.icon.clock-delete { background-position: -32px -112px }
.icon.clock-edit { background-position: -48px -112px }
.icon.clock-error { background-position: -64px -112px }
.icon.clock-go { background-position: -80px -112px }
.icon.clock-link { background-position: -96px -112px }
.icon.clock-pause { background-position: -112px -112px }
.icon.clock-play { background-position: -128px -112px }
.icon.clock-red { background-position: -144px -112px }
.icon.clock-stop { background-position: -160px -112px }
.icon.cog { background-position: -176px -112px }
.icon.cog-add { background-position: -192px -112px }
.icon.cog-delete { background-position: -208px -112px }
.icon.cog-edit { background-position: -224px -112px }
.icon.cog-error { background-position: -240px -112px }
.icon.cog-go { background-position: -256px -112px }
.icon.coins { background-position: -272px -112px }
.icon.coins-add { background-position: -288px -112px }
.icon.coins-delete { background-position: -304px -112px }
.icon.color-swatch { background-position: -320px -112px }
.icon.color-wheel { background-position: -336px -112px }
.icon.comment { background-position: -352px -112px }
.icon.comments { background-position: -368px -112px }
.icon.comments-add { background-position: -384px -112px }
.icon.comments-delete { background-position: -400px -112px }
.icon.comment-add { background-position: -416px -112px }
.icon.comment-delete { background-position: -432px -112px }
.icon.comment-edit { background-position: -448px -112px }
.icon.compress { background-position: -464px -112px }
.icon.computer { background-position: -480px -112px }
.icon.computer-add { background-position: -496px -112px }
.icon.computer-delete { background-position: -0px -128px }
.icon.computer-edit { background-position: -16px -128px }
.icon.computer-error { background-position: -32px -128px }
.icon.computer-go { background-position: -48px -128px }
.icon.computer-key { background-position: -64px -128px }
.icon.computer-link { background-position: -80px -128px }
.icon.connect { background-position: -96px -128px }
.icon.contrast { background-position: -112px -128px }
.icon.contrast-decrease { background-position: -128px -128px }
.icon.contrast-high { background-position: -144px -128px }
.icon.contrast-increase { background-position: -160px -128px }
.icon.contrast-low { background-position: -176px -128px }
.icon.controller { background-position: -192px -128px }
.icon.controller-add { background-position: -208px -128px }
.icon.controller-delete { background-position: -224px -128px }
.icon.controller-error { background-position: -240px -128px }
.icon.control-eject { background-position: -256px -128px }
.icon.control-eject-blue { background-position: -272px -128px }
.icon.control-end { background-position: -288px -128px }
.icon.control-end-blue { background-position: -304px -128px }
.icon.control-equalizer { background-position: -320px -128px }
.icon.control-equalizer-blue { background-position: -336px -128px }
.icon.control-fastforward { background-position: -352px -128px }
.icon.control-fastforward-blue { background-position: -368px -128px }
.icon.control-pause { background-position: -384px -128px }
.icon.control-pause-blue { background-position: -400px -128px }
.icon.control-play { background-position: -416px -128px }
.icon.control-play-blue { background-position: -432px -128px }
.icon.control-repeat { background-position: -448px -128px }
.icon.control-repeat-blue { background-position: -464px -128px }
.icon.control-rewind { background-position: -480px -128px }
.icon.control-rewind-blue { background-position: -496px -128px }
.icon.control-start { background-position: -0px -144px }
.icon.control-start-blue { background-position: -16px -144px }
.icon.control-stop { background-position: -32px -144px }
.icon.control-stop-blue { background-position: -48px -144px }
.icon.creditcards { background-position: -64px -144px }
.icon.cross { background-position: -80px -144px }
.icon.css { background-position: -96px -144px }
.icon.css-add { background-position: -112px -144px }
.icon.css-delete { background-position: -128px -144px }
.icon.css-go { background-position: -144px -144px }
.icon.css-valid { background-position: -160px -144px }
.icon.cup { background-position: -176px -144px }
.icon.cup-add { background-position: -192px -144px }
.icon.cup-delete { background-position: -208px -144px }
.icon.cup-edit { background-position: -224px -144px }
.icon.cup-error { background-position: -240px -144px }
.icon.cup-go { background-position: -256px -144px }
.icon.cup-key { background-position: -272px -144px }
.icon.cup-link { background-position: -288px -144px }
.icon.cursor { background-position: -304px -144px }
.icon.cut { background-position: -320px -144px }
.icon.cut-red { background-position: -336px -144px }
.icon.database { background-position: -352px -144px }
.icon.database-add { background-position: -368px -144px }
.icon.database-connect { background-position: -384px -144px }
.icon.database-delete { background-position: -400px -144px }
.icon.database-edit { background-position: -416px -144px }
.icon.database-error { background-position: -432px -144px }
.icon.database-gear { background-position: -448px -144px }
.icon.database-go { background-position: -464px -144px }
.icon.database-key { background-position: -480px -144px }
.icon.database-lightning { background-position: -496px -144px }
.icon.database-link { background-position: -0px -160px }
.icon.database-refresh { background-position: -16px -160px }
.icon.database-save { background-position: -32px -160px }
.icon.database-table { background-position: -48px -160px }
.icon.date { background-position: -64px -160px }
.icon.date-add { background-position: -80px -160px }
.icon.date-delete { background-position: -96px -160px }
.icon.date-edit { background-position: -112px -160px }
.icon.date-error { background-position: -128px -160px }
.icon.date-go { background-position: -144px -160px }
.icon.date-link { background-position: -160px -160px }
.icon.date-magnify { background-position: -176px -160px }
.icon.date-next { background-position: -192px -160px }
.icon.date-previous { background-position: -208px -160px }
.icon.delete { background-position: -224px -160px }
.icon.disconnect { background-position: -240px -160px }
.icon.disk { background-position: -256px -160px }
.icon.disk-multiple { background-position: -272px -160px }
.icon.door { background-position: -288px -160px }
.icon.door-in { background-position: -304px -160px }
.icon.door-open { background-position: -320px -160px }
.icon.door-out { background-position: -336px -160px }
.icon.drink { background-position: -352px -160px }
.icon.drink-empty { background-position: -368px -160px }
.icon.drive { background-position: -384px -160px }
.icon.drive-add { background-position: -400px -160px }
.icon.drive-burn { background-position: -416px -160px }
.icon.drive-cd { background-position: -432px -160px }
.icon.drive-cd-empty { background-position: -448px -160px }
.icon.drive-delete { background-position: -464px -160px }
.icon.drive-disk { background-position: -480px -160px }
.icon.drive-edit { background-position: -496px -160px }
.icon.drive-error { background-position: -0px -176px }
.icon.drive-go { background-position: -16px -176px }
.icon.drive-key { background-position: -32px -176px }
.icon.drive-link { background-position: -48px -176px }
.icon.drive-magnify { background-position: -64px -176px }
.icon.drive-network { background-position: -80px -176px }
.icon.drive-rename { background-position: -96px -176px }
.icon.drive-user { background-position: -112px -176px }
.icon.drive-web { background-position: -128px -176px }
.icon.dvd { background-position: -144px -176px }
.icon.dvd-add { background-position: -160px -176px }
.icon.dvd-delete { background-position: -176px -176px }
.icon.dvd-edit { background-position: -192px -176px }
.icon.dvd-error { background-position: -208px -176px }
.icon.dvd-go { background-position: -224px -176px }
.icon.dvd-key { background-position: -240px -176px }
.icon.dvd-link { background-position: -256px -176px }
.icon.email { background-position: -272px -176px }
.icon.email-add { background-position: -288px -176px }
.icon.email-attach { background-position: -304px -176px }
.icon.email-delete { background-position: -320px -176px }
.icon.email-edit { background-position: -336px -176px }
.icon.email-error { background-position: -352px -176px }
.icon.email-go { background-position: -368px -176px }
.icon.email-link { background-position: -384px -176px }
.icon.email-open { background-position: -400px -176px }
.icon.email-open-image { background-position: -416px -176px }
.icon.emoticon-evilgrin { background-position: -432px -176px }
.icon.emoticon-grin { background-position: -448px -176px }
.icon.emoticon-happy { background-position: -464px -176px }
.icon.emoticon-smile { background-position: -480px -176px }
.icon.emoticon-surprised { background-position: -496px -176px }
.icon.emoticon-tongue { background-position: -0px -192px }
.icon.emoticon-unhappy { background-position: -16px -192px }
.icon.emoticon-waii { background-position: -32px -192px }
.icon.emoticon-wink { background-position: -48px -192px }
.icon.error { background-position: -64px -192px }
.icon.error-add { background-position: -80px -192px }
.icon.error-delete { background-position: -96px -192px }
.icon.error-go { background-position: -112px -192px }
.icon.exclamation { background-position: -128px -192px }
.icon.eye { background-position: -144px -192px }
.icon.feed { background-position: -160px -192px }
.icon.feed-add { background-position: -176px -192px }
.icon.feed-delete { background-position: -192px -192px }
.icon.feed-disk { background-position: -208px -192px }
.icon.feed-edit { background-position: -224px -192px }
.icon.feed-error { background-position: -240px -192px }
.icon.feed-go { background-position: -256px -192px }
.icon.feed-key { background-position: -272px -192px }
.icon.feed-link { background-position: -288px -192px }
.icon.feed-magnify { background-position: -304px -192px }
.icon.female { background-position: -320px -192px }
.icon.film { background-position: -336px -192px }
.icon.film-add { background-position: -352px -192px }
.icon.film-delete { background-position: -368px -192px }
.icon.film-edit { background-position: -384px -192px }
.icon.film-error { background-position: -400px -192px }
.icon.film-go { background-position: -416px -192px }
.icon.film-key { background-position: -432px -192px }
.icon.film-link { background-position: -448px -192px }
.icon.film-save { background-position: -464px -192px }
.icon.find { background-position: -480px -192px }
.icon.flag-blue { background-position: -496px -192px }
.icon.flag-green { background-position: -0px -208px }
.icon.flag-orange { background-position: -16px -208px }
.icon.flag-pink { background-position: -32px -208px }
.icon.flag-purple { background-position: -48px -208px }
.icon.flag-red { background-position: -64px -208px }
.icon.flag-yellow { background-position: -80px -208px }
.icon.folder { background-position: -96px -208px }
.icon.folder-add { background-position: -112px -208px }
.icon.folder-bell { background-position: -128px -208px }
.icon.folder-brick { background-position: -144px -208px }
.icon.folder-bug { background-position: -160px -208px }
.icon.folder-camera { background-position: -176px -208px }
.icon.folder-database { background-position: -192px -208px }
.icon.folder-delete { background-position: -208px -208px }
.icon.folder-edit { background-position: -224px -208px }
.icon.folder-error { background-position: -240px -208px }
.icon.folder-explore { background-position: -256px -208px }
.icon.folder-feed { background-position: -272px -208px }
.icon.folder-find { background-position: -288px -208px }
.icon.folder-go { background-position: -304px -208px }
.icon.folder-heart { background-position: -320px -208px }
.icon.folder-image { background-position: -336px -208px }
.icon.folder-key { background-position: -352px -208px }
.icon.folder-lightbulb { background-position: -368px -208px }
.icon.folder-link { background-position: -384px -208px }
.icon.folder-magnify { background-position: -400px -208px }
.icon.folder-page { background-position: -416px -208px }
.icon.folder-page-white { background-position: -432px -208px }
.icon.folder-palette { background-position: -448px -208px }
.icon.folder-picture { background-position: -464px -208px }
.icon.folder-star { background-position: -480px -208px }
.icon.folder-table { background-position: -496px -208px }
.icon.folder-user { background-position: -0px -224px }
.icon.folder-wrench { background-position: -16px -224px }
.icon.font { background-position: -32px -224px }
.icon.font-add { background-position: -48px -224px }
.icon.font-delete { background-position: -64px -224px }
.icon.font-go { background-position: -80px -224px }
.icon.group { background-position: -96px -224px }
.icon.group-add { background-position: -112px -224px }
.icon.group-delete { background-position: -128px -224px }
.icon.group-edit { background-position: -144px -224px }
.icon.group-error { background-position: -160px -224px }
.icon.group-gear { background-position: -176px -224px }
.icon.group-go { background-position: -192px -224px }
.icon.group-key { background-position: -208px -224px }
.icon.group-link { background-position: -224px -224px }
.icon.heart { background-position: -240px -224px }
.icon.heart-add { background-position: -256px -224px }
.icon.heart-delete { background-position: -272px -224px }
.icon.help { background-position: -288px -224px }
.icon.hourglass { background-position: -304px -224px }
.icon.hourglass-add { background-position: -320px -224px }
.icon.hourglass-delete { background-position: -336px -224px }
.icon.hourglass-go { background-position: -352px -224px }
.icon.hourglass-link { background-position: -368px -224px }
.icon.house { background-position: -384px -224px }
.icon.house-go { background-position: -400px -224px }
.icon.house-link { background-position: -416px -224px }
.icon.html { background-position: -432px -224px }
.icon.html-add { background-position: -448px -224px }
.icon.html-delete { background-position: -464px -224px }
.icon.html-go { background-position: -480px -224px }
.icon.html-valid { background-position: -496px -224px }
.icon.image { background-position: -0px -240px }
.icon.images { background-position: -16px -240px }
.icon.image-add { background-position: -32px -240px }
.icon.image-delete { background-position: -48px -240px }
.icon.image-edit { background-position: -64px -240px }
.icon.image-link { background-position: -80px -240px }
.icon.information { background-position: -96px -240px }
.icon.ipod { background-position: -112px -240px }
.icon.ipod-cast { background-position: -128px -240px }
.icon.ipod-cast-add { background-position: -144px -240px }
.icon.ipod-cast-delete { background-position: -160px -240px }
.icon.ipod-sound { background-position: -176px -240px }
.icon.joystick { background-position: -192px -240px }
.icon.joystick-add { background-position: -208px -240px }
.icon.joystick-delete { background-position: -224px -240px }
.icon.joystick-error { background-position: -240px -240px }
.icon.key { background-position: -256px -240px }
.icon.keyboard { background-position: -272px -240px }
.icon.keyboard-add { background-position: -288px -240px }
.icon.keyboard-delete { background-position: -304px -240px }
.icon.keyboard-magnify { background-position: -320px -240px }
.icon.key-add { background-position: -336px -240px }
.icon.key-delete { background-position: -352px -240px }
.icon.key-go { background-position: -368px -240px }
.icon.layers { background-position: -384px -240px }
.icon.layout { background-position: -400px -240px }
.icon.layout-add { background-position: -416px -240px }
.icon.layout-content { background-position: -432px -240px }
.icon.layout-delete { background-position: -448px -240px }
.icon.layout-edit { background-position: -464px -240px }
.icon.layout-error { background-position: -480px -240px }
.icon.layout-header { background-position: -496px -240px }
.icon.layout-link { background-position: -0px -256px }
.icon.layout-sidebar { background-position: -16px -256px }
.icon.lightbulb { background-position: -32px -256px }
.icon.lightbulb-add { background-position: -48px -256px }
.icon.lightbulb-delete { background-position: -64px -256px }
.icon.lightbulb-off { background-position: -80px -256px }
.icon.lightning { background-position: -96px -256px }
.icon.lightning-add { background-position: -112px -256px }
.icon.lightning-delete { background-position: -128px -256px }
.icon.lightning-go { background-position: -144px -256px }
.icon.link { background-position: -160px -256px }
.icon.link-add { background-position: -176px -256px }
.icon.link-break { background-position: -192px -256px }
.icon.link-delete { background-position: -208px -256px }
.icon.link-edit { background-position: -224px -256px }
.icon.link-error { background-position: -240px -256px }
.icon.link-go { background-position: -256px -256px }
.icon.lock { background-position: -272px -256px }
.icon.lock-add { background-position: -288px -256px }
.icon.lock-break { background-position: -304px -256px }
.icon.lock-delete { background-position: -320px -256px }
.icon.lock-edit { background-position: -336px -256px }
.icon.lock-go { background-position: -352px -256px }
.icon.lock-open { background-position: -368px -256px }
.icon.lorry { background-position: -384px -256px }
.icon.lorry-add { background-position: -400px -256px }
.icon.lorry-delete { background-position: -416px -256px }
.icon.lorry-error { background-position: -432px -256px }
.icon.lorry-flatbed { background-position: -448px -256px }
.icon.lorry-go { background-position: -464px -256px }
.icon.lorry-link { background-position: -480px -256px }
.icon.magifier-zoom-out { background-position: -496px -256px }
.icon.magnifier { background-position: -0px -272px }
.icon.magnifier-zoom-in { background-position: -16px -272px }
.icon.male { background-position: -32px -272px }
.icon.map { background-position: -48px -272px }
.icon.map-add { background-position: -64px -272px }
.icon.map-delete { background-position: -80px -272px }
.icon.map-edit { background-position: -96px -272px }
.icon.map-go { background-position: -112px -272px }
.icon.map-magnify { background-position: -128px -272px }
.icon.medal-bronze-1 { background-position: -144px -272px }
.icon.medal-bronze-2 { background-position: -160px -272px }
.icon.medal-bronze-3 { background-position: -176px -272px }
.icon.medal-bronze-add { background-position: -192px -272px }
.icon.medal-bronze-delete { background-position: -208px -272px }
.icon.medal-gold-1 { background-position: -224px -272px }
.icon.medal-gold-2 { background-position: -240px -272px }
.icon.medal-gold-3 { background-position: -256px -272px }
.icon.medal-gold-add { background-position: -272px -272px }
.icon.medal-gold-delete { background-position: -288px -272px }
.icon.medal-silver-1 { background-position: -304px -272px }
.icon.medal-silver-2 { background-position: -320px -272px }
.icon.medal-silver-3 { background-position: -336px -272px }
.icon.medal-silver-add { background-position: -352px -272px }
.icon.medal-silver-delete { background-position: -368px -272px }
.icon.money { background-position: -384px -272px }
.icon.money-add { background-position: -400px -272px }
.icon.money-delete { background-position: -416px -272px }
.icon.money-dollar { background-position: -432px -272px }
.icon.money-euro { background-position: -448px -272px }
.icon.money-pound { background-position: -464px -272px }
.icon.money-yen { background-position: -480px -272px }
.icon.monitor { background-position: -496px -272px }
.icon.monitor-add { background-position: -0px -288px }
.icon.monitor-delete { background-position: -16px -288px }
.icon.monitor-edit { background-position: -32px -288px }
.icon.monitor-error { background-position: -48px -288px }
.icon.monitor-go { background-position: -64px -288px }
.icon.monitor-lightning { background-position: -80px -288px }
.icon.monitor-link { background-position: -96px -288px }
.icon.mouse { background-position: -112px -288px }
.icon.mouse-add { background-position: -128px -288px }
.icon.mouse-delete { background-position: -144px -288px }
.icon.mouse-error { background-position: -160px -288px }
.icon.music { background-position: -176px -288px }
.icon.new { background-position: -192px -288px }
.icon.newspaper { background-position: -208px -288px }
.icon.newspaper-add { background-position: -224px -288px }
.icon.newspaper-delete { background-position: -240px -288px }
.icon.newspaper-go { background-position: -256px -288px }
.icon.newspaper-link { background-position: -272px -288px }
.icon.note { background-position: -288px -288px }
.icon.note-add { background-position: -304px -288px }
.icon.note-delete { background-position: -320px -288px }
.icon.note-edit { background-position: -336px -288px }
.icon.note-error { background-position: -352px -288px }
.icon.note-go { background-position: -368px -288px }
.icon.overlays { background-position: -384px -288px }
.icon.package { background-position: -400px -288px }
.icon.package-add { background-position: -416px -288px }
.icon.package-delete { background-position: -432px -288px }
.icon.package-go { background-position: -448px -288px }
.icon.package-green { background-position: -464px -288px }
.icon.package-link { background-position: -480px -288px }
.icon.page { background-position: -496px -288px }
.icon.page-add { background-position: -0px -304px }
.icon.page-attach { background-position: -16px -304px }
.icon.page-code { background-position: -32px -304px }
.icon.page-copy { background-position: -48px -304px }
.icon.page-delete { background-position: -64px -304px }
.icon.page-edit { background-position: -80px -304px }
.icon.page-error { background-position: -96px -304px }
.icon.page-excel { background-position: -112px -304px }
.icon.page-find { background-position: -128px -304px }
.icon.page-gear { background-position: -144px -304px }
.icon.page-go { background-position: -160px -304px }
.icon.page-green { background-position: -176px -304px }
.icon.page-key { background-position: -192px -304px }
.icon.page-lightning { background-position: -208px -304px }
.icon.page-link { background-position: -224px -304px }
.icon.page-paintbrush { background-position: -240px -304px }
.icon.page-paste { background-position: -256px -304px }
.icon.page-red { background-position: -272px -304px }
.icon.page-refresh { background-position: -288px -304px }
.icon.page-save { background-position: -304px -304px }
.icon.page-white { background-position: -320px -304px }
.icon.page-white-acrobat { background-position: -336px -304px }
.icon.page-white-actionscript { background-position: -352px -304px }
.icon.page-white-add { background-position: -368px -304px }
.icon.page-white-c { background-position: -384px -304px }
.icon.page-white-camera { background-position: -400px -304px }
.icon.page-white-cd { background-position: -416px -304px }
.icon.page-white-code { background-position: -432px -304px }
.icon.page-white-code-red { background-position: -448px -304px }
.icon.page-white-coldfusion { background-position: -464px -304px }
.icon.page-white-compressed { background-position: -480px -304px }
.icon.page-white-copy { background-position: -496px -304px }
.icon.page-white-cplusplus { background-position: -0px -320px }
.icon.page-white-csharp { background-position: -16px -320px }
.icon.page-white-cup { background-position: -32px -320px }
.icon.page-white-database { background-position: -48px -320px }
.icon.page-white-delete { background-position: -64px -320px }
.icon.page-white-dvd { background-position: -80px -320px }
.icon.page-white-edit { background-position: -96px -320px }
.icon.page-white-error { background-position: -112px -320px }
.icon.page-white-excel { background-position: -128px -320px }
.icon.page-white-find { background-position: -144px -320px }
.icon.page-white-flash { background-position: -160px -320px }
.icon.page-white-freehand { background-position: -176px -320px }
.icon.page-white-gear { background-position: -192px -320px }
.icon.page-white-get { background-position: -208px -320px }
.icon.page-white-go { background-position: -224px -320px }
.icon.page-white-h { background-position: -240px -320px }
.icon.page-white-horizontal { background-position: -256px -320px }
.icon.page-white-key { background-position: -272px -320px }
.icon.page-white-lightning { background-position: -288px -320px }
.icon.page-white-link { background-position: -304px -320px }
.icon.page-white-magnify { background-position: -320px -320px }
.icon.page-white-medal { background-position: -336px -320px }
.icon.page-white-office { background-position: -352px -320px }
.icon.page-white-paint { background-position: -368px -320px }
.icon.page-white-paintbrush { background-position: -384px -320px }
.icon.page-white-paste { background-position: -400px -320px }
.icon.page-white-php { background-position: -416px -320px }
.icon.page-white-picture { background-position: -432px -320px }
.icon.page-white-powerpoint { background-position: -448px -320px }
.icon.page-white-put { background-position: -464px -320px }
.icon.page-white-ruby { background-position: -480px -320px }
.icon.page-white-stack { background-position: -496px -320px }
.icon.page-white-star { background-position: -0px -336px }
.icon.page-white-swoosh { background-position: -16px -336px }
.icon.page-white-text { background-position: -32px -336px }
.icon.page-white-text-width { background-position: -48px -336px }
.icon.page-white-tux { background-position: -64px -336px }
.icon.page-white-vector { background-position: -80px -336px }
.icon.page-white-visualstudio { background-position: -96px -336px }
.icon.page-white-width { background-position: -112px -336px }
.icon.page-white-word { background-position: -128px -336px }
.icon.page-white-world { background-position: -144px -336px }
.icon.page-white-wrench { background-position: -160px -336px }
.icon.page-white-zip { background-position: -176px -336px }
.icon.page-word { background-position: -192px -336px }
.icon.page-world { background-position: -208px -336px }
.icon.paintbrush { background-position: -224px -336px }
.icon.paintcan { background-position: -240px -336px }
.icon.palette { background-position: -256px -336px }
.icon.paste-plain { background-position: -272px -336px }
.icon.paste-word { background-position: -288px -336px }
.icon.pencil { background-position: -304px -336px }
.icon.pencil-add { background-position: -320px -336px }
.icon.pencil-delete { background-position: -336px -336px }
.icon.pencil-go { background-position: -352px -336px }
.icon.phone { background-position: -368px -336px }
.icon.phone-add { background-position: -384px -336px }
.icon.phone-delete { background-position: -400px -336px }
.icon.phone-sound { background-position: -416px -336px }
.icon.photo { background-position: -432px -336px }
.icon.photos { background-position: -448px -336px }
.icon.photo-add { background-position: -464px -336px }
.icon.photo-delete { background-position: -480px -336px }
.icon.photo-link { background-position: -496px -336px }
.icon.picture { background-position: -0px -352px }
.icon.pictures { background-position: -16px -352px }
.icon.picture-add { background-position: -32px -352px }
.icon.picture-delete { background-position: -48px -352px }
.icon.picture-edit { background-position: -64px -352px }
.icon.picture-empty { background-position: -80px -352px }
.icon.picture-error { background-position: -96px -352px }
.icon.picture-go { background-position: -112px -352px }
.icon.picture-key { background-position: -128px -352px }
.icon.picture-link { background-position: -144px -352px }
.icon.picture-save { background-position: -160px -352px }
.icon.pilcrow { background-position: -176px -352px }
.icon.pill { background-position: -192px -352px }
.icon.pill-add { background-position: -208px -352px }
.icon.pill-delete { background-position: -224px -352px }
.icon.pill-go { background-position: -240px -352px }
.icon.plugin { background-position: -256px -352px }
.icon.plugin-add { background-position: -272px -352px }
.icon.plugin-delete { background-position: -288px -352px }
.icon.plugin-disabled { background-position: -304px -352px }
.icon.plugin-edit { background-position: -320px -352px }
.icon.plugin-error { background-position: -336px -352px }
.icon.plugin-go { background-position: -352px -352px }
.icon.plugin-link { background-position: -368px -352px }
.icon.printer { background-position: -384px -352px }
.icon.printer-add { background-position: -400px -352px }
.icon.printer-delete { background-position: -416px -352px }
.icon.printer-empty { background-position: -432px -352px }
.icon.printer-error { background-position: -448px -352px }
.icon.rainbow { background-position: -464px -352px }
.icon.report { background-position: -480px -352px }
.icon.report-add { background-position: -496px -352px }
.icon.report-delete { background-position: -0px -368px }
.icon.report-disk { background-position: -16px -368px }
.icon.report-edit { background-position: -32px -368px }
.icon.report-go { background-position: -48px -368px }
.icon.report-key { background-position: -64px -368px }
.icon.report-link { background-position: -80px -368px }
.icon.report-magnify { background-position: -96px -368px }
.icon.report-picture { background-position: -112px -368px }
.icon.report-user { background-position: -128px -368px }
.icon.report-word { background-position: -144px -368px }
.icon.resultset-first { background-position: -160px -368px }
.icon.resultset-last { background-position: -176px -368px }
.icon.resultset-next { background-position: -192px -368px }
.icon.resultset-previous { background-position: -208px -368px }
.icon.rosette { background-position: -224px -368px }
.icon.rss { background-position: -240px -368px }
.icon.rss-add { background-position: -256px -368px }
.icon.rss-delete { background-position: -272px -368px }
.icon.rss-go { background-position: -288px -368px }
.icon.rss-valid { background-position: -304px -368px }
.icon.ruby { background-position: -320px -368px }
.icon.ruby-add { background-position: -336px -368px }
.icon.ruby-delete { background-position: -352px -368px }
.icon.ruby-gear { background-position: -368px -368px }
.icon.ruby-get { background-position: -384px -368px }
.icon.ruby-go { background-position: -400px -368px }
.icon.ruby-key { background-position: -416px -368px }
.icon.ruby-link { background-position: -432px -368px }
.icon.ruby-put { background-position: -448px -368px }
.icon.script { background-position: -464px -368px }
.icon.script-add { background-position: -480px -368px }
.icon.script-code { background-position: -496px -368px }
.icon.script-code-red { background-position: -0px -384px }
.icon.script-delete { background-position: -16px -384px }
.icon.script-edit { background-position: -32px -384px }
.icon.script-error { background-position: -48px -384px }
.icon.script-gear { background-position: -64px -384px }
.icon.script-go { background-position: -80px -384px }
.icon.script-key { background-position: -96px -384px }
.icon.script-lightning { background-position: -112px -384px }
.icon.script-link { background-position: -128px -384px }
.icon.script-palette { background-position: -144px -384px }
.icon.script-save { background-position: -160px -384px }
.icon.server { background-position: -176px -384px }
.icon.server-add { background-position: -192px -384px }
.icon.server-chart { background-position: -208px -384px }
.icon.server-compressed { background-position: -224px -384px }
.icon.server-connect { background-position: -240px -384px }
.icon.server-database { background-position: -256px -384px }
.icon.server-delete { background-position: -272px -384px }
.icon.server-edit { background-position: -288px -384px }
.icon.server-error { background-position: -304px -384px }
.icon.server-go { background-position: -320px -384px }
.icon.server-key { background-position: -336px -384px }
.icon.server-lightning { background-position: -352px -384px }
.icon.server-link { background-position: -368px -384px }
.icon.server-uncompressed { background-position: -384px -384px }
.icon.shading { background-position: -400px -384px }
.icon.shape-align-bottom { background-position: -416px -384px }
.icon.shape-align-center { background-position: -432px -384px }
.icon.shape-align-left { background-position: -448px -384px }
.icon.shape-align-middle { background-position: -464px -384px }
.icon.shape-align-right { background-position: -480px -384px }
.icon.shape-align-top { background-position: -496px -384px }
.icon.shape-flip-horizontal { background-position: -0px -400px }
.icon.shape-flip-vertical { background-position: -16px -400px }
.icon.shape-group { background-position: -32px -400px }
.icon.shape-handles { background-position: -48px -400px }
.icon.shape-move-back { background-position: -64px -400px }
.icon.shape-move-backwards { background-position: -80px -400px }
.icon.shape-move-forwards { background-position: -96px -400px }
.icon.shape-move-front { background-position: -112px -400px }
.icon.shape-rotate-anticlockwise { background-position: -128px -400px }
.icon.shape-rotate-clockwise { background-position: -144px -400px }
.icon.shape-square { background-position: -160px -400px }
.icon.shape-square-add { background-position: -176px -400px }
.icon.shape-square-delete { background-position: -192px -400px }
.icon.shape-square-edit { background-position: -208px -400px }
.icon.shape-square-error { background-position: -224px -400px }
.icon.shape-square-go { background-position: -240px -400px }
.icon.shape-square-key { background-position: -256px -400px }
.icon.shape-square-link { background-position: -272px -400px }
.icon.shape-ungroup { background-position: -288px -400px }
.icon.shield { background-position: -304px -400px }
.icon.shield-add { background-position: -320px -400px }
.icon.shield-delete { background-position: -336px -400px }
.icon.shield-go { background-position: -352px -400px }
.icon.sitemap { background-position: -368px -400px }
.icon.sitemap-add { background-position: -128px -496px }
.icon.sitemap-delete { background-position: -144px -496px }
.icon.sitemap-color { background-position: -384px -400px }
.icon.sound { background-position: -400px -400px }
.icon.sound-add { background-position: -416px -400px }
.icon.sound-delete { background-position: -432px -400px }
.icon.sound-low { background-position: -448px -400px }
.icon.sound-mute { background-position: -464px -400px }
.icon.sound-none { background-position: -480px -400px }
.icon.spellcheck { background-position: -496px -400px }
.icon.sport-8ball { background-position: -0px -416px }
.icon.sport-basketball { background-position: -16px -416px }
.icon.sport-football { background-position: -32px -416px }
.icon.sport-golf { background-position: -48px -416px }
.icon.sport-raquet { background-position: -64px -416px }
.icon.sport-shuttlecock { background-position: -80px -416px }
.icon.sport-soccer { background-position: -96px -416px }
.icon.sport-tennis { background-position: -112px -416px }
.icon.star { background-position: -128px -416px }
.icon.status-away { background-position: -144px -416px }
.icon.status-busy { background-position: -160px -416px }
.icon.status-offline { background-position: -176px -416px }
.icon.status-online { background-position: -192px -416px }
.icon.stop { background-position: -208px -416px }
.icon.style { background-position: -224px -416px }
.icon.style-add { background-position: -240px -416px }
.icon.style-delete { background-position: -256px -416px }
.icon.style-edit { background-position: -272px -416px }
.icon.style-go { background-position: -288px -416px }
.icon.sum { background-position: -304px -416px }
.icon.tab { background-position: -320px -416px }
.icon.table { background-position: -336px -416px }
.icon.table-add { background-position: -352px -416px }
.icon.table-delete { background-position: -368px -416px }
.icon.table-edit { background-position: -384px -416px }
.icon.table-error { background-position: -400px -416px }
.icon.table-gear { background-position: -416px -416px }
.icon.table-go { background-position: -432px -416px }
.icon.table-key { background-position: -448px -416px }
.icon.table-lightning { background-position: -464px -416px }
.icon.table-link { background-position: -480px -416px }
.icon.table-multiple { background-position: -496px -416px }
.icon.table-refresh { background-position: -0px -432px }
.icon.table-relationship { background-position: -16px -432px }
.icon.table-row-delete { background-position: -32px -432px }
.icon.table-row-insert { background-position: -48px -432px }
.icon.table-save { background-position: -64px -432px }
.icon.table-sort { background-position: -80px -432px }
.icon.tab-add { background-position: -96px -432px }
.icon.tab-delete { background-position: -112px -432px }
.icon.tab-edit { background-position: -128px -432px }
.icon.tab-go { background-position: -144px -432px }
.icon.tag { background-position: -160px -432px }
.icon.tag-blue { background-position: -176px -432px }
.icon.tag-blue-add { background-position: -192px -432px }
.icon.tag-blue-delete { background-position: -208px -432px }
.icon.tag-blue-edit { background-position: -224px -432px }
.icon.tag-green { background-position: -240px -432px }
.icon.tag-orange { background-position: -256px -432px }
.icon.tag-pink { background-position: -272px -432px }
.icon.tag-purple { background-position: -288px -432px }
.icon.tag-red { background-position: -304px -432px }
.icon.tag-yellow { background-position: -320px -432px }
.icon.telephone { background-position: -336px -432px }
.icon.telephone-add { background-position: -352px -432px }
.icon.telephone-delete { background-position: -368px -432px }
.icon.telephone-edit { background-position: -384px -432px }
.icon.telephone-error { background-position: -400px -432px }
.icon.telephone-go { background-position: -416px -432px }
.icon.telephone-key { background-position: -432px -432px }
.icon.telephone-link { background-position: -448px -432px }
.icon.television { background-position: -464px -432px }
.icon.television-add { background-position: -480px -432px }
.icon.television-delete { background-position: -496px -432px }
.icon.textfield { background-position: -0px -448px }
.icon.textfield-add { background-position: -16px -448px }
.icon.textfield-delete { background-position: -32px -448px }
.icon.textfield-key { background-position: -48px -448px }
.icon.textfield-rename { background-position: -64px -448px }
.icon.text-align-center { background-position: -80px -448px }
.icon.text-align-justify { background-position: -96px -448px }
.icon.text-align-left { background-position: -112px -448px }
.icon.text-align-right { background-position: -128px -448px }
.icon.text-allcaps { background-position: -144px -448px }
.icon.text-bold { background-position: -160px -448px }
.icon.text-columns { background-position: -176px -448px }
.icon.text-dropcaps { background-position: -192px -448px }
.icon.text-heading-1 { background-position: -208px -448px }
.icon.text-heading-2 { background-position: -224px -448px }
.icon.text-heading-3 { background-position: -240px -448px }
.icon.text-heading-4 { background-position: -256px -448px }
.icon.text-heading-5 { background-position: -272px -448px }
.icon.text-heading-6 { background-position: -288px -448px }
.icon.text-horizontalrule { background-position: -304px -448px }
.icon.text-indent { background-position: -320px -448px }
.icon.text-indent-remove { background-position: -336px -448px }
.icon.text-italic { background-position: -352px -448px }
.icon.text-kerning { background-position: -368px -448px }
.icon.text-letterspacing { background-position: -384px -448px }
.icon.text-letter-omega { background-position: -400px -448px }
.icon.text-linespacing { background-position: -416px -448px }
.icon.text-list-bullets { background-position: -432px -448px }
.icon.text-list-numbers { background-position: -448px -448px }
.icon.text-lowercase { background-position: -464px -448px }
.icon.text-padding-bottom { background-position: -480px -448px }
.icon.text-padding-left { background-position: -496px -448px }
.icon.text-padding-right { background-position: -0px -464px }
.icon.text-padding-top { background-position: -16px -464px }
.icon.text-replace { background-position: -32px -464px }
.icon.text-signature { background-position: -48px -464px }
.icon.text-smallcaps { background-position: -64px -464px }
.icon.text-strikethrough { background-position: -80px -464px }
.icon.text-subscript { background-position: -96px -464px }
.icon.text-superscript { background-position: -112px -464px }
.icon.text-underline { background-position: -128px -464px }
.icon.text-uppercase { background-position: -144px -464px }
.icon.thumb-down { background-position: -160px -464px }
.icon.thumb-up { background-position: -176px -464px }
.icon.tick { background-position: -192px -464px }
.icon.time { background-position: -208px -464px }
.icon.timeline-marker { background-position: -224px -464px }
.icon.time-add { background-position: -240px -464px }
.icon.time-delete { background-position: -256px -464px }
.icon.time-go { background-position: -272px -464px }
.icon.transmit { background-position: -288px -464px }
.icon.transmit-add { background-position: -304px -464px }
.icon.transmit-blue { background-position: -320px -464px }
.icon.transmit-delete { background-position: -336px -464px }
.icon.transmit-edit { background-position: -352px -464px }
.icon.transmit-error { background-position: -368px -464px }
.icon.transmit-go { background-position: -384px -464px }
.icon.tux { background-position: -400px -464px }
.icon.user { background-position: -416px -464px }
.icon.user-add { background-position: -432px -464px }
.icon.user-comment { background-position: -448px -464px }
.icon.user-delete { background-position: -464px -464px }
.icon.user-edit { background-position: -480px -464px }
.icon.user-female { background-position: -496px -464px }
.icon.user-go { background-position: -0px -480px }
.icon.user-gray { background-position: -16px -480px }
.icon.user-green { background-position: -32px -480px }
.icon.user-orange { background-position: -48px -480px }
.icon.user-red { background-position: -64px -480px }
.icon.user-suit { background-position: -80px -480px }
.icon.vcard { background-position: -96px -480px }
.icon.vcard-add { background-position: -112px -480px }
.icon.vcard-delete { background-position: -128px -480px }
.icon.vcard-edit { background-position: -144px -480px }
.icon.vector { background-position: -160px -480px }
.icon.vector-add { background-position: -176px -480px }
.icon.vector-delete { background-position: -192px -480px }
.icon.wand { background-position: -208px -480px }
.icon.weather-clouds { background-position: -224px -480px }
.icon.weather-cloudy { background-position: -240px -480px }
.icon.weather-lightning { background-position: -256px -480px }
.icon.weather-rain { background-position: -272px -480px }
.icon.weather-snow { background-position: -288px -480px }
.icon.weather-sun { background-position: -304px -480px }
.icon.webcam { background-position: -320px -480px }
.icon.webcam-add { background-position: -336px -480px }
.icon.webcam-delete { background-position: -352px -480px }
.icon.webcam-error { background-position: -368px -480px }
.icon.world { background-position: -384px -480px }
.icon.world-add { background-position: -400px -480px }
.icon.world-delete { background-position: -416px -480px }
.icon.world-edit { background-position: -432px -480px }
.icon.world-go { background-position: -448px -480px }
.icon.world-link { background-position: -464px -480px }
.icon.wrench { background-position: -480px -480px }
.icon.wrench-orange { background-position: -496px -480px }
.icon.xhtml { background-position: -0px -496px }
.icon.xhtml-add { background-position: -16px -496px }
.icon.xhtml-delete { background-position: -32px -496px }
.icon.xhtml-go { background-position: -48px -496px }
.icon.xhtml-valid { background-position: -64px -496px }
.icon.zoom { background-position: -80px -496px }
.icon.zoom-in { background-position: -96px -496px }
.icon.zoom-out { background-position: -112px -496px }
